* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 80px;
	position: fixed;
	background-color: blue;
	color: white;
	text-align: center;
}

#contenedor-top {
	width: 100%;
	text-align: center;
	padding-top: 100px;
}

aside {
	display: inline-block;
	width: 500px;
	height: 300px;
	border: 1px solid black;
	margin: 20px;
	padding:20px;
	text-align: left;
}

#contenedor-top section {
	display: inline-block;
	vertical-align: top;
	text-align: left;
	width: 500px;
	height: auto;
	border: 1px solid black;
	padding: 10px;
	margin: 20px;
}

textarea {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	resize: none;
	overflow-y: visible;
	line-height: 20px;
	font-size: 16px;
	padding: 3px 5px;
	border: none;
	border-bottom: 1px solid #CFCFCF;
}

textarea:focus {
	outline: none;
}


#contenedor-bottom {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 50px;
	background-color: red;
	height: auto;
	min-height: 200px;
	text-align: center;
}

#div-contador {
	float: right;
}

#div-contador span {
	line-height: 34px;
}

button {
	line-height: 30px;
	padding: 0 15px;
}

button:hover {

}

button:disabled {
	
}

#contenedor-bottom article {
	display: inline-block;
	background-color: white;
	text-align: left;
	width: 1040px;
	height: auto;
	margin-bottom: 10px;
	padding: 0 5px;
}

article p:first-child {
	margin: 12px 5px;
}

article p:last-child {
	text-align: right;
	margin-top: 0;
	margin-right: 5px;
	margin-bottom: 10px; 
}

article p:last-child::before {
	content: "Posted on ";
}


